<!DOCTYPE html>
<html>
  <head>
    <title>Bušteho Národná</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-primary" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
